<h1>Edit Article <%= @article.title %></h1>
<form  method='post' action='/articles/<%= @article.id %>'>
<p>Title: <input type='text' id='title' name='title' size="50" value="<%= @article.title %>"></p>
<p>Content: <input type='text' id='content' name='content' size="200" value="<%= @article.content %>"></p>
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="submit" value="submit">
</form>


