<h1>Lets Create a new article, shall we?</h1>
<form  method='post' action='/articles'>
<p>Title: <input type='text' id='title' name='title' size="30"></p>
<p>Content: <input type='text' id='content' name='content' size="200" ></p>
<input type='submit' value='submit'>
</form>